.menu#menu
  #top-menu
    .menu-item#name
      p ryan
      img(src=require('../../images/logo.png'))
      p best
    .menu-item#menu-links
      p#work.menu-link.active work
      p#about.menu-link about