.about-content
  p
    | I'm Ryan Best, and I'm a 
    strong Data Visualization Specialist
    | . I'm excited about using technology and design to make data visual, beautiful, and intuitive — allowing our data to help us tell stories, understand complex information, and make informed decisions.
    | I'm a self-taught coder in JS, HTML/CSS, Node, Python, Ruby and other technologies. I particularly love using d3.
    | Currently a Visual Journalist at 
    a.underline(href="https://fivethirtyeight.com/contributors/ryan-best/") FiveThirtyEight
    |. Formerly 
    a.underline(href="https://www.newschool.edu/parsons/ms-data-visualization/") Parsons
    |  and 
    a.underline(href="https://www.bloomberg.com/authors/AUHPryqW2Bs/ryan-best") Bloomberg Graphics
    | .
  p
    | I live in Brooklyn and enjoy watching the Premier League, 
    a.underline(href="https://www.strava.com/athletes/21629547") biking
    |  and 
    a.underline(href="https://www.discogs.com/user/ryan.a.best/collection") record collecting
    |.  
    a.underline(href="mailto:ryan@ryanabest.com") Say hi!