.menu {
  padding: 1em 2vw;
  width: 100%;
  max-width: 1500px;
  
  &#menu {
    margin: 5vmin auto;
  }

  #top-menu {
    line-height: 50px;
    top: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;

    * {
      font-family: $rob-mono;
    }

    p, a {
      font-weight: 700;
      line-height: 50px;
      font-size: 2.5rem;
      letter-spacing: 0.2em;
      display: inline;
      text-align: center;

      &.menu-link {
        padding-left: 0.6em;
      }
    }

    img {
      max-height: 50px;
      vertical-align: top;
      margin: 0 0.85em 0 0.7em;
    }
  }
}