.social-thumbnails {
  text-align: right;
  margin: 2vh auto 2vh auto;
  width: 100%;
  max-width: 1500px;
  padding: 1em 2vw;

  a {
    img {
      height: 5vh;
      width: 5vh;
      margin-left: 1.5vw;
      margin-right: 0;
      opacity: 1;
      cursor: pointer;
  
      &.fivethirtyeight-thumb {
        width: 5vh;
        height: 4.5vh;
        margin-bottom: 2px;
      }

      &.hover {
        display: none;
      }
    }

    &:hover {
      img {
        &.hover {
          display: inline;
        }

        &.default {
          display: none;
        }
      }
    }
  }
}