.social-thumbnails {
  text-align: right;
  margin: 2vh auto 2vh auto;
  width: 100%;
  max-width: 1500px;
  padding: 1em 2vw;

  @include breakpoint($M) {
    text-align: center;
  }

  a {
    img {
      height: 50px;
      width: 50px;
      margin-left: 20px;
      margin-right: 0;
      opacity: 1;
      cursor: pointer;
      
      @include breakpoint($M) {
        height: 40px;
        width: 40px;
        margin-left: 10px;
        margin-right: 10px;
      }
  
      &.fivethirtyeight-thumb {
        height: 45px;
        @include breakpoint($M) {
          height: 35px;
        }
      }

      &.hover {
        display: none;
      }
    }

    &:hover {
      img {
        &.hover {
          display: inline;
        }

        &.default {
          display: none;
        }
      }
    }
  }
}