.swiper-container {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;

  .swiper-button-next,
  .swiper-button-prev {
    color: $blue-highlight;

    @include breakpoint($M) {
      display: none;
    }
  }

  .swiper-pagination-bullet-active {
    background: $blue-highlight;
  }
}