// ~~ COLORS ~~ //
$white: #fff;
$black: #000;
$gray-background: #fafafa;
$gray-shadow: #c8c8c8;
$blue-highlight: #4295CE;

// ~~ FONTS ~~ //
$mont: 'Montserrat', sans-serif;
$rob-mono: 'Roboto Mono', monospace;