.projects {
  max-width: 1500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 1rem;
}

.project {
  flex: 33%;
  max-width: 33%;
  padding: 0.5rem;
  position: relative;
  background-clip: content-box;
  transition: background-color 250ms ease-in;

  @include breakpoint($T) {
    flex: 50%;
    max-width: 50%;
  }

  @include breakpoint($M) {
    flex: 100%;
    max-width: 100%;
  }

  .project-title {
    pointer-events: none;
    display: none;
    transition: display 250ms ease-in;
    text-align: center;
    position: absolute;
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);

    .eyebrow {
      font-family: $rob-mono;
      font-weight: 700;
      color: $white;
      font-size: 14px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      transform: translateY(-100%);
    }

    .title {
      font-family: $rob-mono;
      font-weight: 700;
      font-size: 24px;
      color: $white;
      margin: 0 auto;

      i {
        font-family: $rob-mono;
        font-style: italic;
      }
    }
  }

  .project-img-link {
    opacity: 1;
    transition: opacity 250ms ease-in;
  }

  img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    box-shadow: 0 0 10px 0.1px rgba(78, 78, 78, 0.05);
    -moz-box-shadow: 0 0 10px .1px rgba(78, 78, 78, 0.05);
    -webkit-box-shadow: 0 0 10px 0.1px rgba(78, 78, 78, 0.05);
  }

  &:hover {
    background-color: $blue-highlight;

    .project-img-link {
      opacity: 0.05;
    }

    .project-title {
      display: block;
    }
  }
}