@import './partials/fonts';
@import './partials/variables';
@import './partials/menu';
@import './partials/projects';

body {
  background-color: $gray-background;
  color: $black;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: $mont;
}

::selection {
  background: $blue-highlight;
  color: $white;
}