@import './partials/fonts';
@import './partials/colors';
@import './partials/menu';

body {
  background-color: #fafafa;
  color: #000;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
  transition: color 0.1s ease-in-out;

  &.active,
  &:hover {
    color: $blue-highlight;
  }
}