@import 'breakpoint-sass';
@import './partials/fonts';
@import './partials/variables';
@import './partials/menu';
@import './partials/work';
@import './partials/socials';
@import './partials/about';
@import './partials/project-content';
@import './partials/swiper';

body {
  background-color: $gray-background;
  color: $black;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: $mont;
}

a {
  color: $black;
  text-decoration: none;

  &:hover,
  &.active {
    color: $blue-highlight;
  }

  &.underline {
    padding-bottom: 0.15em;
    padding-top: 0.15em;
    background:
      linear-gradient(to bottom, #4295CE 0%,
        #4295CE 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0.12em 0.12em;
    transition: all 200ms ease-in-out;

    &:hover {
      color: #fff;
      transition: all 200ms ease-in-out;
      background-size: 100% 100%;
    }
  }
}

strong {
  font-weight: 500;
}

::selection {
  background: $blue-highlight;
  color: $white;
}