.menu#menu
  #top-menu
    .menu-item#name
      a(href='/')
        h1 ryan
        img(src=require('../../images/logo.png'))
        h1 best
    .menu-item#menu-links
      a#work.menu-link.active(href='/') work
      a#about.menu-link(href='/about/') about